USE [CompanyTest]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrdersPaged]    Script Date: 15/04/2026 08:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetOrdersPaged]
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    -- Gestione min pagenumber
    IF @PageNumber IS NULL OR @PageNumber < 1 
        SET @PageNumber = 1;

    -- Gestione min pagesize
    IF @PageSize IS NULL OR @PageSize < 1 
        SET @PageSize = 10;

    SELECT 
        O.Id AS OrderId, 
        O.CreatedAt AS OrderDate,
        P.ProductName, 
        P.Price, 
        U.Name + ' ' + U.Surname AS CustomerFullname,
        U.Address, 
        O.Notes
    FROM Orders O
    JOIN Products P ON O.ProductId = P.Id
    JOIN Users U ON O.CustomerId = U.Id
    ORDER BY O.Id 
    OFFSET ((@PageNumber - 1) * @PageSize) ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END